# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
forge-1.12.2-14.23.5.2768-changelog.txt
CREDITS.txt
LICENSE-Paulscode IBXM Library.txt
LICENSE-Paulscode SoundSystem CodecIBXM.txt
gradlew
LICENSE.txt
README.txt
libs/
gradlew.bat
gradle/
logs/
